html{
    cursor: url("./mouse/cursorog.png"), auto !important;
}

*{
    
    cursor: url("./mouse/hand.png"), auto !important;
    cursor: url("./mouse/cursorog.png"), pointer !important;
}


body{
    cursor: url("./mouse/cursor.png"), auto;
}

@font-face {
    font-family: renasci;
    src: url(./fonts/renasci.otf);
}

.estilizado {
    font-family: renasci;
    letter-spacing: 0.1em;
}

img.petit {
    width: 50px;
}

.header-like {
    background-size: auto;
    background-position: center center;
    height: 70vh;
    background-attachment: fixed;
    cursor: url("./mouse/cursor.png"), auto;
}

.header-like-B {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

header {
    background-size: cover;
    background-position: center center;
    height: 85vh;
}

body {
    background-size: 200vh;
    background-position: center center;
    background-attachment: fixed;
    background-color: #101357;
    /*background-image: url(./media/texture.png);*/
}

a {
    color: wheat;
}

a:hover {
    color: aquamarine;
}

.index {
    background-image: url(./media/index-header.jpg);
}

.card {
    background-size: cover;
    background-position: left center;
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    transition-duration: 5s;
}

.card:hover {
    background-position: right bottom;
}

.redondeo {
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
}

.card p {
    text-align: justify;
}

.miBoton {
    text-decoration: none;
    background-color: lightcyan;
    width: 120px !important;
    border-radius: 5px;
    color: black;
    transition-duration: 0.2s;
    filter: blur(-5px);
}

.miBoton:hover {
    color: black;
    padding: 15px !important;
    width: 135px !important;
}

@media (max-width: 800px) {
    header {
        height: 50vh;
    }
}